[submodule "team1-frontend"]
	path = team1-frontend
	url = https://github.com/hanhwa-swcamp-22th-final/team1-frontend.git
[submodule "team1-backend-member"]
	path = team1-backend-member
	url = https://github.com/wjdqudwls/team1-backend-member.git
